<input #fileInput style="display: none;" (change)="process($event)" type="file" />
<button [style.width.%]="100" mat-raised-button color="primary" (click)="clickFileInput()">
  <mat-icon>attach_file</mat-icon>
  Upload File
</button>
<table mat-table matTableExporter [hidden]="hidden" #table [dataSource]="response" [hiddenColumns]="hiddenColumns">
    <ng-container *ngFor="let disCol of keys(response.data[0]); let colIndex = index" matColumnDef="{{disCol}}">
        <th mat-header-cell *matHeaderCellDef>
            <mat-expansion-panel #panel [expanded]="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{disCol | strip : '"' | titlecase}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <mat-checkbox (change)="hideColumn($event, colIndex, disCol)">Hide from export</mat-checkbox>
                    <br>
                    <mat-form-field [style.width.%]="100">
                        <mat-label>Filter</mat-label>
                        <input matInput type="text" [formControl]="group[disCol]">
                    </mat-form-field>
                </ng-template>
            </mat-expansion-panel>
        </th>
        <td mat-cell [ngClass]="{'hidden' : hiddenColumns.includes(colIndex)}" *matCellDef="let element">{{element[disCol] | strip : '"'}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="keys(response.data[0]); sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: keys(response.data[0])"></tr>
</table>
<mat-paginator [hidden]="response.data.length < 6" [disabled]="response.data.length < 6" [pageSizeOptions]="[5, 10, 20,100]" [pageSize]="10" [pageIndex]="0" showFirstLastButtons #paginator>
</mat-paginator>
<mat-grid-list *ngIf="!hidden" cols="4" rowHeight="4:1">
    <mat-grid-tile>
        <button [style.width.%]="90" mat-raised-button color="primary" (click)="export('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Excel</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [style.width.%]="90" mat-raised-button color="primary" (click)="export('csv')">Csv</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [style.width.%]="90" mat-raised-button color="primary" (click)="export('json')">Json</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [style.width.%]="90" mat-raised-button color="primary" (click)="export('txt')">Txt</button>
    </mat-grid-tile>
</mat-grid-list>