<mat-toolbar class="mat-elevation-z5" style="background-color: rgb(66, 66, 66);">
    <input #fileInput style="display: none;" (change)="process($event)" type="file" />
    <button [style.width.%]="100" mat-raised-button color="primary" (click)="clickFileInput()">
              <mat-icon>attach_file</mat-icon>
              Upload File
            </button>
</mat-toolbar>
<table [style.width.%]="100" mat-table matTableExporter [hidden]="hidden" #table [dataSource]="response" [hiddenColumns]="hiddenColumns">
    <ng-container *ngFor="let disCol of keys(response.data[0]); let colIndex = index" matColumnDef="{{disCol}}">
        <th mat-header-cell *matHeaderCellDef>
            <mat-expansion-panel #panel [expanded]="false">
                <mat-expansion-panel-header>
                    <mat-panel-title [ngClass]="{'hidden' : hiddenColumns.includes(colIndex)}">
                        {{disCol | strip : '"'}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div *ngIf="!findMenu[disCol] && !renameMenu[disCol] && !reorderMenu[disCol]">
                        <mat-form-field [style.width.%]="100">
                            <mat-label>Filter</mat-label>
                            <input matInput type="text" [formControl]="filterGroup[disCol]">
                        </mat-form-field>
                        <br>
                        <div class="flex-apart">
                            <mat-checkbox (change)="hideColumn($event, colIndex)">Hide from export</mat-checkbox>
                            <button mat-button [matMenuTriggerFor]="menu">Options</button>
                        </div>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item [matMenuTriggerFor]="sorting">Sort</button>
                            <button mat-menu-item (click)="findMenu[disCol] = true">Find and Replace</button>
                            <button mat-menu-item (click)="renameMenu[disCol] = true">Rename</button>
                            <button mat-menu-item (click)="reorderMenu[disCol] = true">Reorder</button>
                        </mat-menu>
                        <mat-menu #sorting="matMenu">
                            <div class="flex-apart">
                                <button mat-icon-button class="shrink-2x" (click)="sort(disCol,'asc')"><mat-icon>arrow_upward</mat-icon></button>
                                <button mat-icon-button class="shrink-2x" (click)="sort(disCol,'desc')"><mat-icon>arrow_downward</mat-icon></button>
                            </div>
                        </mat-menu>
                    </div>
                    <div *ngIf="renameMenu[disCol]">
                        <mat-form-field [style.width.%]="100">
                            <mat-label>Rename</mat-label>
                            <input matInput type="text" [formControl]="renameGroup[disCol]">
                        </mat-form-field>
                        <br>
                        <div class="flex-apart">
                            <button mat-button (click)="renameMenu[disCol] = false">Cancel</button>
                            <button mat-button color="primary" (click)="renameColumn(disCol)">Rename</button>
                        </div>
                    </div>
                    <div *ngIf="findMenu[disCol]">
                        <mat-form-field [style.width.%]="100">
                            <mat-label>Find</mat-label>
                            <input matInput type="text" [formControl]="findGroup[disCol]">
                        </mat-form-field>
                        <br>
                        <mat-form-field [style.width.%]="100">
                            <mat-label>Replace</mat-label>
                            <input matInput type="text" [formControl]="replaceGroup[disCol]">
                        </mat-form-field>
                        <br>
                        <div class="flex-apart">
                            <button mat-button (click)="findMenu[disCol] = false">Cancel</button>
                            <button mat-button color="primary" (click)="findAndReplace(disCol)">Find & Replace</button>
                        </div>
                    </div>
                    <div *ngIf="reorderMenu[disCol]">
                        <mat-form-field [style.width.%]="100">
                            <mat-label>New Index</mat-label>
                            <input matInput type="number" [formControl]="reorderGroup[disCol]">
                        </mat-form-field>
                        <br>
                        <div class="flex-apart">
                            <button mat-button (click)="reorderMenu[disCol] = false">Cancel</button>
                            <button mat-button color="primary" (click)="changeColumnIndex(disCol)">Reorder</button>
                        </div>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field [ngClass]="{'hidden' : hiddenColumns.includes(colIndex)}" [style.width.%]="100" [style.height.%]="100">
                <input type="text" matInput [(ngModel)]="element[disCol]">
            </mat-form-field>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="keys(response.data[0]); sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: keys(response.data[0])"></tr>
</table>
<mat-paginator [style.width.%]="100" [hidden]="response.data.length < 6" [disabled]="response.data.length < 6" [pageSizeOptions]="[5, 10, 20,100]" [pageSize]="10" [pageIndex]="0" showFirstLastButtons #paginator>
</mat-paginator>
<mat-grid-list [style.width.%]="100" *ngIf="!hidden" cols="4" rowHeight="4:1">
    <mat-grid-tile>
        <button [style.width.%]="90" mat-raised-button color="primary" (click)="export('xlsx', {fileName:'export', sheet: 'sheet', Props: {Author: 'app'}})">Excel</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [style.width.%]="90" mat-raised-button color="primary" (click)="export('csv',{fileName: 'export'})">Csv</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [style.width.%]="90" mat-raised-button color="primary" (click)="export('json',{fileName: 'export'})">Json</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [style.width.%]="90" mat-raised-button color="primary" (click)="export('txt',{fileName: 'export'})">Txt</button>
    </mat-grid-tile>
</mat-grid-list>
